<div class='container'>
  <div class='row'>
   <div class='col-md-3'>
    <h2>会員情報</h2>
    <%= render 'members/info', member: @advice.member %>
    <h2 class="mt-3">新しいアドバイス</h2>
    <%= render 'advices/form', advice: Advice.new %>
   </div>
   <div class='col-md-8 offset-md-1'>
     <h2>アドバイスの内容</h2>
     <table class='table'>
      <tr>
        <td><%= link_to member_path(@advice.member) do %>
         <%= attachment_image_tag(@advice.member, :profile_image, :fill, 100, 100, fallback: "no-image.jpg") %><br>
         <%= @advice.member.name %>
         <% end %>
        </td>
        <td><%= link_to @advice.title, advice_path(@advice) %></td>
        <td><%= @advice.body %></td>
      </tr>
     </table>
   </div>
  </div>
</div>